html{
    background-image: url(photo/beef-burger-cutout-free-png.png);
    background-image: ;
    background-repeat: no-repeat;
    background-color:black;
}
.textoprincipal{
    
    color: white;
    text-align: center;
    background-color: black;
}
.fotobackground{
    width: 100px;
    height: 100px;
}
