@import url('https://fonts.googleapis.com/css2?family=Kablammo&display=swap');
@font-face {
    font-family: 'chineseRocks';
    src: url(chinese_rocks_rg.ttf);
    font-weight: normal;
    font-style: normal;
}
.col{
    padding-top: 1px;
    display: flex;
    width: 286px;
    height: 510px;
}
.card-img-top{
    width: 286px;
    height: 196.66px;
}
.gridQuemSomos{
    margin-top: 10px;
}
.btn.btn-primary{
    display: flex;
    align-items: end;
}
#corpoQuemSomos{
    height: 100%;
    
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    display: flex;
    align-content: center;
    justify-content: center;
}
.backQuemSomos{
    font-family: "chineseRocks", sans-serif;
    font-size: 60px;
    color:white;
    margin-bottom: auto;
    margin-top: auto;
    
}
.imgQuemSomos{

}
html{
    background-color: wheat;
}
main{
    /* background-color: black; */
}
body{
    background-color:wheat;
    /* color: black; */
    background-image: url(photo/giphy.webp);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    min-height: 100vh;
    height: 100vh;
    min-width: 100vw;
    width: 100vw;
    
}
.card{
    border: 1px white solid;
    --bs-card-bg: black;
}
.card-text,.card-title{
    color: white;
}

