@import url('https://fonts.googleapis.com/css2?family=Kablammo&display=swap');
@font-face {
    font-family: 'chineseRocks';
    src: url(chinese_rocks_rg.ttf);
    font-weight: normal;
    font-style: normal;
}